// Font Color
$color-text: #343a40;
$color-menuItems: #343a40;

// Manu Hover
$colorPrimary: #088178;

// Background Color
$colorBG: #e3e6f3;
$colorBox: #cce7d0;

// 1. Box Text
$BGT1: #e3fafc;
$BGT2: #fddde4;
$BGT3: #d8f5a2;
$BGT4: #cdd4f8;
$BGT5: #eebefa;
$BGT6: #ffe8cc;

// 2. Banner background
$colorBGBanner: #041e42;

// Grays
$gray1: #868e96;
$gray2: #adb5bd;
$gray3: #ced4da;
$gray4: #dee2e6;
$gray5: #e9ecef;

$darkgray1: #212529;
$darkgray2: #343a40;
$darkgray3: #495057;

// Icon color
$star-Icon: rgb(243, 181, 25);

// Span color
$span-Color1: #c92a2a;
$span-Color2: #ffd43b;
