// NAVIGATION
// shopping cart
li > a > img {
  width: 16px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    list-style: none;
    padding: 0 2rem;
    position: relative;

    a {
      text-decoration: none;
      font-size: 1rem;
      font-weight: 600;
      color: $color-menuItems;
      transition: all 0.3s ease;
    }
  }

  #mobileClose {
    display: none;
    cursor: pointer;
  }
}

#navbar li a:hover {
  color: $colorPrimary;
}

// header
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: $colorBG;
  box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;

  #mobile {
    display: none;
    cursor: pointer;

    #mobileClose {
      display: none;
    }

    i {
      font-size: 2rem;
    }
  }
}

// hero
#hero {
  background-image: url("/src/images/hero4.png");
  background-repeat: none;
  background-size: cover;
  background-position: top 30% right 0;
  height: 90vh;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h1 {
    color: $colorPrimary;
  }

  h4 {
    padding-bottom: 15px;
  }

  button {
    border: 0;
    background-color: transparent;
    background-image: url("/src/images/button.png");
    color: $colorPrimary;
    padding: 0.9rem 4rem 0.9rem 3.7rem;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
  }
}

// features
#features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .features__box {
    width: 180px !important;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid $colorBox;
    border-radius: 4px;
    margin: 15px 0;
    cursor: pointer;
    transition: all 0.3s ease;

    h6 {
      display: inline-block;
      padding: 0.5rem 0.6rem;
      line-height: 1;
      border-radius: 4px;
      font-size: 0.9rem;
      color: $colorPrimary;
      background-color: $BGT1;
    }

    img {
      width: 100%;
      margin-bottom: 0.3rem;
    }
  }
}

#features .features__box:nth-child(2) h6 {
  background-color: $BGT2;
}

#features .features__box:nth-child(3) h6 {
  background-color: $BGT3;
}

#features .features__box:nth-child(4) h6 {
  background-color: $BGT4;
}

#features .features__box:nth-child(5) h6 {
  background-color: $BGT5;
}

#features .features__box:nth-child(6) h6 {
  background-color: $BGT6;
}

#features .features__box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
  transform: scale(1.05);
}

// Products
#product_I {
  text-align: center;

  p {
    color: $gray2;
  }

  .product__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product {
    position: relative;
    width: 23%;
    min-width: 15.625rem;
    padding: 10px 12px;
    border: 1px solid $colorBox;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 15px 0;

    .description,
    i {
      text-align: start;
    }

    .description span {
      font-size: 0.9rem;
      color: $gray1;
    }

    .description h5 {
      padding-top: 0.6rem;
      color: $color-text;
    }

    .description i {
      font-size: 12px;
      color: $star-Icon;
    }

    .description h4 {
      padding-top: 0.5rem;
      font-weight: 700;
      color: $colorPrimary;
    }
  }

  .product:hover {
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    transform: translateY(-0.5rem);
  }

  .product__img {
    width: 100%;
    border-radius: 1.3rem;
  }

  .product .cart_Icon {
    font-size: 1.2rem;
    position: absolute;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    color: $colorPrimary;
    background: $gray4;
    padding: 10px;
  }
}

// Banner
#banner {
  background: url("/src/images/banner/b2.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100%;
  background-position: center;
  background-size: cover;

  h4,
  h2 {
    color: $gray3;
  }

  h2 {
    padding: 1rem 0;
  }

  h4 {
    font-size: 1.5rem;
  }

  span {
    color: $span-Color1;
    font-size: 3rem;
  }

  .btn-banner:hover {
    background-color: $colorPrimary;
    color: $gray3;
  }
}

// Banner 2
#sm-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  .banner__img1 {
    background: url("/src/images/banner/b17.jpg");
  }

  .banner__img2 {
    background: url("/src/images/banner/b10.jpg");
  }

  .banner__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    height: 50vh;
    background-position: center;
    background-size: cover;
    padding-left: 1.5rem;
  }

  h4,
  h2 {
    color: $gray5;
  }

  h2 {
    padding: 1rem 0;
  }

  h4 {
    text-transform: lowercase;
    font-weight: 200;
  }

  span {
    color: $gray5;
    padding-bottom: 1rem;
  }

  .btn-banner1 {
    border: 1px solid $gray5;
    background: transparent;
    padding: 1rem 1.5rem;
    color: $gray5;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
  }

  .btn-banner1:hover {
    background-color: $colorPrimary;
    color: $gray3;
    border: 1px solid transparent;
  }
}

// Banner 3
#lg-banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  .banner__img3 {
    background: url("/src/images/banner/b7.jpg");
  }

  .banner__img4 {
    background: url("/src/images/banner/b4.jpg");
  }

  .banner__img5 {
    background: url("/src/images/banner/b18.jpg");
  }

  .lg-banner__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    min-width: 30%;
    height: 30vh;
    background-position: center;
    background-size: cover;
    padding-left: 1.5rem;
  }

  .lg-banner__box:hover {
    box-shadow: 10px 10px 4px rgba(71, 70, 82, 0.1);
  }

  h4,
  h2 {
    color: $gray5;
  }

  h2 {
    font-size: 1.5rem;
  }

  h4 {
    text-transform: lowercase;
    font-weight: 200;
  }

  span {
    color: $gray3;
  }

  .btn-banner1 {
    border: 1px solid $gray5;
    background: transparent;
    padding: 1rem 1.5rem;
    color: $gray5;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
  }

  .btn-banner1:hover {
    background-color: $colorPrimary;
    color: $gray3;
    border: 1px solid transparent;
  }
}

// Newsletter
#newsletter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  background: url("/src/images/banner/b14.png");
  background-color: $colorBGBanner;
  background-position: 20% 30%;

  h4 {
    color: $gray5;
    font-size: 2rem;
  }

  p {
    color: $gray2;
    font-size: 1.2rem;
  }

  span {
    font-size: 1rem;
    color: $span-Color2;
  }

  input[type="search"] {
    height: 3.225rem;
    padding: 0 1.25rem;
    width: 70%;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
    outline: none;
  }

  button {
    border-radius: 0 0.2rem 0.2rem 0;
    background-color: $colorPrimary;
    color: $gray5;
  }

  .newsletter-input {
    form {
      display: flex;
    }
  }
}

// Footer
#footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr;
  gap: 0.7rem;

  img {
    margin-bottom: 1.5rem;
  }

  p {
    color: $gray1;
    font-size: 1rem;
  }

  strong {
    color: $color-text;
  }

  .col:nth-child(4) {
    margin: 0 auto;
  }

  .follow h4 {
    margin-bottom: 1rem;
  }

  .col h4 {
    margin-bottom: 1.3rem;
  }

  .col ul li {
    margin-bottom: 1rem;
  }

  .col ul li a {
    color: $gray1;
  }

  .col ul li a:hover {
    color: $color-text;
  }

  i {
    font-size: 1.5rem;
    color: $color-text;
    padding-right: 0.2rem;
  }

  .install__icons {
    border: 1px solid $colorPrimary;
    border-radius: 6px;
  }
}
